.leaflet-control-layers-toggle {
  background-image: url(/images/layers.png);
}

svg {
  width: auto;
  height: auto;
}

.d3 svg {
  width: 100%;
  height: 100%;
}

/* body { */
/*   background: url("/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); */
/*   color: #707070; */
/*   font: 12px 'Open Sans',HelveticaNeue,Helvetica,Arial; */
/*   min-height: 100%; */
/*   overflow-x: hidden; */
/* } */
