@import 'mockup';
@import 'overrides';

#main-container {
  margin: 50px auto 0 auto;
  width: 100%;
}

#track-map {
  background-color: #6495ED;
  height: 500px;
}

#track-info {
  height: 70px;
}

// Header menu

.navbar-nav {
  li {
    .btn-group {
      line-height: 20px;
      padding-bottom: 15px;
      padding-top: 15px;

      a.dropdown-toggle, a.dropdown-toggle:hover {
        color: #999999;
        text-decoration: none;
      }
    }
  }
}

//Tracks



.area-summary {
  -moz-box-sizing: border-box;
  background: -moz-linear-gradient(center top , #FAFAFA, #ECECEC) repeat scroll 0 0 / 100% auto #ECECEC;
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
  margin-bottom: 15px;
  padding: 10px 15px 10px 5px;;
  position: relative;
  width: 100%;
}


.summary-box {
  margin: 10px 0 0;
  padding: 0;

  .sparkline-row {
    border-left: 1px dotted #FFFFFF;
    border-right: 1px dotted #AAAAAA;
    float: left;
    padding: 0 15px 0 0;
    text-align: center;

    &:first-child {
      border-left: medium none;
    }

    &:after {
      clear: both;
    }

    &:before, &:after {
      content: "";
      display: table;
      line-height: 0;
    }
  }

  h4 {
    display: inline-block;
    margin: 0;
    min-width: 70px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);

    &.blue { color: #6E97AA; }
    &.red  { color: #C75D5D; }
    &.green { color: #8FAE53; }

    span {
      color: #717E88;
      display: block;
      font-size: 12px;
      font-weight: normal;
      text-align: center;
    }

    abbr {
      margin-left: 3px;
      font-size: 12px;
    }
  }
}

h4.vehicle-selector {
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

h5.track-selector {
    margin: 0;
    line-height: 15.4px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
}

.track-switcher {
  line-height: 50px;
  &.track-switcher-left {
    margin-right: 10px;
  }
  &.track-switcher-right {
    margin-left: 10px;
  }

  a, a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.nvd3-chart {
  display: block;
  svg {
    width: 100%;
    height: 300px;
  }
}







