.row
  leaflet#track-map(defaults='map.defaults', layers="map.layers", paths="mapTracks", center="mapTracksCenter")

.row
  .area-summary.clearfix

    .pull-left.track-switcher.track-switcher-left
      a.glyphicon.glyphicon-arrow-left(href="/vehicles/{{vehicleId}}/tracks/{{track.prev}}")

    .pull-left
      h4.vehicle-selector(bs-dropdown="vehicles |asVehicleDropdown", animation="am-flip-x")
        | {{vehicle.name}}
        span.caret

      h5.track-selector(bs-dropdown="tracks |asTrackDropdown", animation="am-flip-x")
        | {{track.name()}}
        span.caret

    .pull-left.track-switcher.track-switcher-right
      a.glyphicon.glyphicon-arrow-right(href="/vehicles/{{vehicleId}}/tracks/{{track.next}}")

    ul.list-inline.pull-right.summary-box
      li.summary-row
        h4.blue
          span Distance
          | {{track.distance() |toFixed}}
          abbr km

      li.summary-row
        h4.red
          span Fuel
          | {{track.fuel() |toFixed}}
          abbr L

      li.summary-row
        h4.green
          span Avg. speed
          | {{track.avgSpeed() |toFixed}}
          abbr km/h

      li.summary-row
        h4.green
          span Max. speed
          | {{track.maxSpeed() |toFixed}}
          abbr km/h

.row
  .col-md-12
    #track-charts
      nvd3-stacked-area-chart(class="nvd3-chart" data="trackChart", showControls="true", useInteractiveGuideline="true", xaxislabel="Distance, km" showLegend="true", showXAxis="true", showYAxis="true",  tooltips="true")
