//defines the small progress bars

@import "compass";
@import "variables";
@import "mixin_helpers";
// @import "bootstrap/mixins";
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";

@mixin gradient-striped($color: #555, $angle: 45deg) {
  background-color: $color;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
}

.progress {
  height: 8px;
  @include border-radius(8px);
  background: #eee;
  @include box-shadow(0 1px 0 white, 0 0px 0 1px rgba(0,0,0,.1) inset, 0 1px 4px rgba(0,0,0,.2) inset);

  .progress-bar {
    @include border-radius(8px);
    @include box-shadow(none);
    height: 100%;
  }
}

@each $pair in $barColors {
  .progress-#{nth($pair, 1)} {

    @include gradient-vertical(lighten(nth($pair, 2), 10), nth($pair, 2));
    border: 1px solid darken(nth($pair, 2), 5);

    .progress-striped & {
      @include gradient-striped(lighten(nth($pair, 2), 10));
    }
  }
}
