.row
  leaflet#track-map(defaults='map.defaults', layers="map.layers" center="center")

.row
  .area-summary.clearfix

    .pull-left
      h4 Bicycle

      h5.track-selector(bs-dropdown="tracks |asTrackDropdown", animation="am-flip-x")
        | Track {{trackId}}
        span.caret

    ul.list-inline.pull-right.summary-box
      li.summary-row
        h4.blue
          span Distance
          | {{stats.distance |toFixed}}
          abbr m

      li.summary-row
        h4.green
          span Avg. speed
          | {{stats.speed |toFixed}}
          abbr km/h

      li.summary-row
        h4.green
          span CO2
          | {{stats.co2 |toFixed}}
          abbr g
.row
  .col-md-12
    #track-charts
      nvd3-stacked-area-chart(class="nvd3-chart" data="trackChart", showControls="true", useInteractiveGuideline="true", xaxislabel="point #" showLegend="true", showXAxis="true", showYAxis="true",  tooltips="true")
