.col-md-4.col-md-offset-4
  .padded
    .login.box(style='margin-top: 80px;')
      .box-header
        span.title Login
      .box-content.padded
        form.separate-sections
          .input-group.addon-left
            span.input-group-addon(href='#')
              i.icon-user
            input(type='text', placeholder='username')
          .input-group.addon-left
            span.input-group-addon(href='#')
              i.icon-key
            input(type='password', placeholder='password')
          div
            a.btn.btn-blue.btn-block(href='../dashboard/dashboard.html')
              | Login &nbsp;
              i.icon-signin
